<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Framework.Listeners"/>
<listener class-name="utils.ExtentReporterNG"/>
</listeners>
  <test name="Test">
    <classes>
      <class name="Framework.AppTest"/>
      </classes>
      </test>
       <test name="HomePage Test">
        <classes>
      <class name="Framework.HomePage"/>
      </classes>
      </test>
       <test name="SignInPage Test">
     <classes>
      <class name="Framework.SignInPage"/>
      </classes>
      </test>
       <test name="ValidateTitle Test">
        <classes>
      <class name="Framework.ValidateTitle"/>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
